
# xcode
*.pbxuser
*.perspectivev3
*.mode*v3
xcuserdata
xcshareddata
build
*.app
*.a

# OSX
*.DS_*

# codeblocks
*.depend
*.layout
example-input/obj
example-output/obj
*.cbTemp

# Win
*.exe
*.dll
*.sdf
*.suo
*.vcxproj.user

# svn
.svn/
obj/
bin/
build/
!data/

# example project files

midiExampleIOS/Project.xcconfig
midiExampleIOS/config.make
midiExampleIOS/midiExampleIOS.xcodeproj
midiExampleIOS/ofxiOS-Info.plist
midiExampleIOS/ofxiOS_Prefix.pch
midiExampleIOS/mediaAssets

midiInputExample/Makefile
midiInputExample/Project.xcconfig
midiInputExample/config.make
midiInputExample/midiInputExample.xcodeproj
midiInputExample/openFrameworks-Info.plist

midiOutputExample/Makefile
midiOutputExample/Project.xcconfig
midiOutputExample/config.make
midiOutputExample/midiOutputExample.xcodeproj
midiOutputExample/openFrameworks-Info.plist

midiTimingExample/Makefile
midiTimingExample/Project.xcconfig
midiTimingExample/config.make
midiTimingExample/midiTimingExample.xcodeproj
midiTimingExample/openFrameworks-Info.plist
